.errors{
margin-top: 0.2em;
padding: 0.3em;
font-size: 0.8em;
}
.error{
    background: #fde4e4;
    border: 1px solid #fcdfdf;
    font-family: "courier new";
    padding: 0.1em 0.5em;
    margin: 0.2em 0em;
    border-left: 4px solid #ecb0b0;
}