.Dashboard .Canvas.run .RuntimeErrors {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100000;
}

.Dashboard .Canvas.run .RuntimeError {
  border-radius: 1em;
  padding: 1em;
  width: auto;
  height: auto;
  margin-left: 0.5em;
  background: rgba(245, 245, 245, 0.9);
  box-shadow: 0.15em 0.15em 0.25em rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-out;
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Dashboard .Canvas.run .RuntimeError .message {
}

.Dashboard .Canvas.run .RuntimeError.hiding {
  opacity: 0;
}

.Dashboard .Canvas.run .RuntimeErrors .RuntimeError i {
  font-size: 1.2em;
  margin-right: 0.25em;
}